<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>

</head>
<body>
<section>
<!--<li class="nav-item">-->
<!--	<a class="nav-link" th:href="@{/students}">Student Management</a>-->
<!--</li>-->
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create New Student </h1>
				<div class = "card-body">
					<form th:action="@{/students}" th:object = "${student}" method="POST">
						<div class ="form-group">
							<label> Student First Name </label>
							<input type = "text" name = "firstName" th:field = "*{firstName}" class = "form-control" placeholder="Enter Student First Name" required/>
						</div>

						<br>
						
						<div class ="form-group">
							<label> Student Last Name </label>
							<input type = "text" name = "lastName" th:field = "*{lastName}" class = "form-control" placeholder="Enter Student Last Name" required/>
						</div>

						<br>
						
						<div class ="form-group">
							<label> Student Email </label>
							<input type = "text" name = "email" th:field = "*{email}" class = "form-control" placeholder="Enter Student Email" required/>
						</div>

						<br>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>